<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TestConnection</servlet-name>
  	<display-name>TestConnection</display-name>
  	<description></description>
  	<servlet-class>main.webapp.TestConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginValidateServlet</servlet-name>
  	<display-name>LoginValidateServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.LoginValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientsInHospitalWardServlet</servlet-name>
  	<display-name>PatientsInHospitalWardServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.PatientsInHospitalWardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientDeleteServlet</servlet-name>
  	<display-name>PatientDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.PatientDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientAddServlet</servlet-name>
  	<display-name>PatientAddServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.PatientAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientEditServlet</servlet-name>
  	<display-name>PatientEditServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.PatientEditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DrugListServlet</servlet-name>
  	<display-name>DrugListServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.DrugListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DrugAddServlet</servlet-name>
  	<display-name>DrugAddServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.servlets.DrugAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestConnection</servlet-name>
  	<url-pattern>/TestConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginValidateServlet</servlet-name>
  	<url-pattern>/loginvalid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientsInHospitalWardServlet</servlet-name>
  	<url-pattern>/patients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientDeleteServlet</servlet-name>
  	<url-pattern>/patientDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientAddServlet</servlet-name>
  	<url-pattern>/PatientAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientAddServlet</servlet-name>
  	<url-pattern>/addpatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientEditServlet</servlet-name>
  	<url-pattern>/PatientEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientEditServlet</servlet-name>
  	<url-pattern>/editpatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrugListServlet</servlet-name>
  	<url-pattern>/DrugListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrugListServlet</servlet-name>
  	<url-pattern>/druglist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrugAddServlet</servlet-name>
  	<url-pattern>/DrugAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrugAddServlet</servlet-name>
  	<url-pattern>/adddrug</url-pattern>
  </servlet-mapping>
</web-app>



